<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diário de Estudos - Cadastro</title>
</head>
<body>
    <form action="{% url 'paginaDeCadastro' %}" method="post">
        {% csrf_token %}
        <h2>Nome de Usuário:</h2> <input type="text" name="nomeDeUsuario">
        <h2>Email:</h2> <input type="email" name="email">
        <h2>Senha:</h2> <input type="password" name="senha">
        <br>
        <button type="submit">Cadastrar</button>
    </form>
    <a href="{% url 'paginaDeLogin' %}"><button>Voltar</button></a>
</body>
</html>